<div id="content" class="w-normal clearfix">
  
  <div id="main" class="col-lg-8">
    <section>
      <h3 class="page-title"><%= fa_icon 'home' %>あなたの所属チーム</h3>
          <ul class="team-list clearfix">

            <% @teams.each do |p| %>
            <li>
              <div class="text"><h3 class="title"><a href="/teams/<%= p.id %>"><%= p.name %></a></h3></div>
              <div class="sub"><a href="/users/<%= p.user_id %>"><%= User.find(p.user_id).name %></a>|<%= User.find(p.user_id).created_at %></div>
            </li>
            <% end %>

          </ul>
    </section>

    <section>
  
    <h4 class="hide_old">チームを探す</h4> 

  
    </section>
  </div>

    <div id="right" class="col-lg-4">
      <section>
    <a href="/teams/new" class="btn red medium">チームを登録する</a>
      </section>
    </div>
    