
  <h1>チーム情報</h1>
  <hr>
  <h4><%= @team.name %></h4>
  <br>
  <p><%= @user.name %>|<%= @team.created_at %></p>
  <br>
  <hr>
  <p><a href="/teams" class="btn btn-info">トップに戻る</a></p>
  <% if user_signed_in? %>
    <% if @team.user_id == current_user.id %>
      <p><a href="/teams/<%= @team.id %>/edit" class="btn btn-success">チームを編集する</a></p>
      <p><a href="/teams/<%= @team.id %>" data-method="delete" class="btn btn-danger">募集情報を削除する</a></p>
    <% else %>
       <% if !team_entried(@team.id) %>
         <%= form_for @team_entry do |f| %>
            <%= f.hidden_field :team_id, :value => "#{@team.id}" %>
            <p>コメント</p>
            <%= f.text_area :comment, :class => "form-control my-form" %>
            <br>
            <%= f.submit "応募する", :class => "btn btn-success" %>
         <% end %>
      <% end %>
      

    <% end %>
  <% end %>
  
  <% if user_signed_in? %>
    <% if @team.user_id == current_user.id %>
      <% if TeamEntry.find_by(status: "w").present? %>
        <h3>承認リスト</h3>
        <% TeamEntry.where(status: "w").each do |w| %>
          <p><%= link_to "#{w.user.name}", "/users/#{w.user_id}" %>|<%= "コメント：#{w.comment}" %>
          <%= link_to "承認する", "/team_entries/#{w.team_id}/accept", :method => :post, :class => "btn btn-success" %>
          <%= link_to "承認しない", "/team_entries/#{w.team_id}/reject", :method => :post, :class => "btn btn-danger" %></p>
        <% end %>
      <br>
      <% else %>
        <h4>チームリスト</h4>
        <% TeamEntry.where(status: "a").each do |a| %>
          <%= link_to "#{a.user.name}", "/users/#{a.user_id}" %>
        <% end %>
      <% end %>
      <br>
      <hr>

    <% end %>
    
      <% if TeamEntry.find_by(status: "a", :team_id => @team.id, :user_id => current_user.id).present? %>
        <%= link_to "チームメッセージ", "/messages/#{@team.id}/new" %>
      <% end %>
      

  <% end %>
