  <h1>投稿</h1>
  <hr>
  <h4><%= @blog.title %></h4>
  <br>
  <p><%= @user.name %>|<%= @blog.created_at %></p>
  <br>
  <h4><%= @blog.content %></h4>
  <br>
    <% if Like.find(user_id: @current_user.id, blog_id: @blog.id) %>
      <%= link_to("/likes/#{@blog.id}/destroy", {method: "delete"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{@blog.id}/create", {method:"post"}) do %>
        <span class="fa fa-heart like-btn"></span>
      <% end %>
    <% end %>
    
    <%= @likes_count %>
  <hr>
  <p><a href="/blogs" class="btn btn-info">トップに戻る</a></p>
  <% if user_signed_in? %>
    <% if @blog.user_id == current_user.id %>
      <p><a href="/blogs/<%= @blog.id %>/edit" class="btn btn-success">投稿を編集する</a></p>
      <p><a href="/blogs/<%= @blog.id %>" data-method="delete" class="btn btn-danger">投稿を削除する</a></p>
    <% end %>
  <% end %>