  <div id = "center">
    
  <section id= "user-header">
    <div class= "pict">
      <% if @user.icon_name? %>
        <%= image_tag @user.icon_name.to_s, class: 'mypage-user-img' %>
      <% else %>
        <%= image_tag 'no_image.jpg', class: 'mypage-user-img' %>
      <% end %>
    </div>
    <div class = "name">
      <%= link_to "#{@user.name}", "/users/#{@user_id}" %>
    </div>
    
  </section>
  
  
  <section id = "user">
    <h3><%= @user.name %>のプロフィール</h3>
    <a href="/users/edit" class="edit-btn"><i class="fa fa-edit"></i>変更</a>
  

    <table id="line-table" class="profile">
      
      <tr>
        <th>活動エリア</th>
        <td>
            <%= @user.prefecture.name if @user.prefecture_id? %>
        </td>
      </tr>
      
      <tr>
        <th>チーム</th>
        <td>
            <!--<div class="team"><a href="/team/8000000000006441"><img class="lazy" data-original="/labostatic/img/dummy/team.png" src="/labostatic/img/space.gif" style="width:20px;height:20px;">チーム侍</a></div>-->
            <!--<div class="team"><a href="/team/8000000000006442"><img class="lazy" data-original="/labostatic/img/dummy/team.png" src="/labostatic/img/space.gif" style="width:20px;height:20px;">team 侍</a></div>-->
        </td>
      </tr>
      
      <tr>
        <th>性別</th>
        <td><%= Global::GENDER[@user.gender] %></td>
      </tr>
      
      <tr>
        <th>年齢</th>
        <td><%= @user.age %></td>
      </tr>
      
      <tr>
        <th>生年月日</th>
        <td><%= @user.birthday.strftime("%Y年%m月%d日") %></td>
      </tr>
      
      <tr>
        <th>スポーツ</th>
        <td><%= @user.favor %></td>
      </tr>
      
      <tr>
        <th>SpoC登録日</th>
        <td><%= @user.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
    
    </table>
  </section>


  <%= link_to "メッセージを送る", "/chats/#{@user.id}/new" %>

  </div>

