<h1>新規登録</h1>
<br>
<p>下記のフォームに必要事項を入力し、 
「登録する」を押してください。</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
<br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
<br>
<p>既に登録済みの方はログインしてください</p>
<%= render "users/shared/links" %>
